* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

body {
  background-color: rgb(132, 209, 235);
}

.app-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.todo-container {
  background-color: rgb(56, 55, 55);
  min-height: 450px;
  width: 550px;
  border-radius: 12px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffff;
  padding: 40px 30px;
}

.header div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form {
  display: flex;
  justify-content: center;
}

.form form {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 0 30px;
}

.form input {
  flex: 1;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px;
  border: none;
}

.form button {
  padding: 10px;
  border-radius: 8px;
  color: #ffff;
  background-color: rgb(66, 211, 247);
  border: none;
}

.task-container {
  padding: 20px;
}

.task {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-top: 2px solid #707070;
}

.task input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  border-radius: 50%;
  cursor: pointer;
  padding: 13px;
}

.task input[type="checkbox"]:checked {
  background-color: green;
}

.strike {
  text-decoration: line-through;
}

.task p {
  color: #ffff;
  flex: 1;
}

.trash-icon {
  color: #707070;
  appearance: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  padding: 6px;
  border: 1px solid #707070;
  border-radius: 50%;
}
